@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monserrat", sans-serif;
}

.app {
  background-image: url("./assets/app.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 1s ease-out;
}
/* background images generated randomly based on weather conditions */

.Ash_1 {
  background-image: url("assets/Ash_1.jpg");
}
.Ash_2 {
  background-image: url("assets/Ash_2.jpg");
}
.Ash_3 {
  background-image: url("assets/Ash_3.jpg");
}
.Ash_4 {
  background-image: url("assets/Ash_4.jpg");
}
.Ash_5 {
  background-image: url("assets/Ash_5.jpg");
}

.Clear_1 {
  background-image: url("./assets/Clear_1.jpg");
}
.Clear_2 {
  background-image: url("./assets/Clear_2.jpg");
}
.Clear_3 {
  background-image: url("./assets/Clear_3.jpg");
}
.Clear_4 {
  background-image: url("./assets/Clear_4.jpg");
}
.Clear_5 {
  background-image: url("./assets/Clear_5.jpg");
}

.Clouds_1 {
  background-image: url("./assets/Clouds_1.jpg");
}
.Clouds_2 {
  background-image: url("./assets/Clouds_2.jpg");
}
.Clouds_3 {
  background-image: url("./assets/Clouds_3.jpg");
}
.Clouds_4 {
  background-image: url("./assets/Clouds_4.jpg");
}
.Clouds_5 {
  background-image: url("./assets/Clouds_5.jpg");
}

.Drizzle_1 {
  background-image: url("assets/Drizzle_1.jpg");
}
.Drizzle_2 {
  background-image: url("assets/Drizzle_2.jpg");
}
.Drizzle_3 {
  background-image: url("assets/Drizzle_3.jpg");
}
.Drizzle_4 {
  background-image: url("assets/Drizzle_4.jpg");
}
.Drizzle_5 {
  background-image: url("assets/Drizzle_5.jpg");
}

.Dust_1 {
  background-image: url("assets/Dust_1.jpg");
}
.Dust_2 {
  background-image: url("assets/Dust_2.jpg");
}
.Dust_3 {
  background-image: url("assets/Dust_3.jpg");
}
.Dust_4 {
  background-image: url("assets/Dust_4.jpg");
}
.Dust_5 {
  background-image: url("assets/Dust_5.jpg");
}

.Fog_1 {
  background-image: url("assets/Fog_1.jpg");
}
.Fog_2 {
  background-image: url("assets/Fog_2.jpg");
}
.Fog_3 {
  background-image: url("assets/Fog_3.jpg");
}
.Fog_4 {
  background-image: url("assets/Fog_4.jpg");
}
.Fog_5 {
  background-image: url("assets/Fog_5.jpg");
}

.Haze_1 {
  background-image: url("assets/Haze_1.jpg");
}
.Haze_2 {
  background-image: url("assets/Haze_2.jpg");
}
.Haze_3 {
  background-image: url("assets/Haze_3.jpg");
}
.Haze_4 {
  background-image: url("assets/Haze_4.jpg");
}
.Haze_5 {
  background-image: url("assets/Haze_5.jpg");
}

.Mist_1 {
  background-image: url("assets/Mist_1.jpg");
}
.Mist_2 {
  background-image: url("assets/Mist_2.jpg");
}
.Mist_3 {
  background-image: url("assets/Mist_3.jpg");
}
.Mist_4 {
  background-image: url("assets/Mist_4.jpg");
}
.Mist_5 {
  background-image: url("assets/Mist_5.jpg");
}

.Rain_1 {
  background-image: url("assets/Rain_1.jpg");
}
.Rain_2 {
  background-image: url("assets/Rain_2.jpg");
}
.Rain_3 {
  background-image: url("assets/Rain_3.jpg");
}
.Rain_4 {
  background-image: url("assets/Rain_4.jpg");
}
.Rain_5 {
  background-image: url("assets/Rain_5.jpg");
}

.Sand_1 {
  background-image: url("assets/Sand_1.jpg");
}
.Sand_2 {
  background-image: url("assets/Sand_2.jpg");
}
.Sand_3 {
  background-image: url("assets/Sand_3.jpg");
}
.Sand_4 {
  background-image: url("assets/Sand_4.jpg");
}
.Sand_5 {
  background-image: url("assets/Sand_5.jpg");
}

.Smoke_1 {
  background-image: url("assets/Smoke_1.jpg");
}
.Smoke_2 {
  background-image: url("assets/Smoke_2.jpg");
}
.Smoke_3 {
  background-image: url("assets/Smoke_3.png");
}
.Smoke_4 {
  background-image: url("assets/Smoke_4.jpg");
}
.Smoke_5 {
  background-image: url("assets/Smoke_5.jpg");
}

.Snow_1 {
  background-image: url("assets/Snow_1.jpg");
}
.Snow_2 {
  background-image: url("assets/Snow_2.jpg");
}
.Snow_3 {
  background-image: url("assets/Snow_3.jpg");
}
.Snow_4 {
  background-image: url("assets/Snow_4.jpg");
}
.Snow_5 {
  background-image: url("assets/Snow_5.jpg");
}

.Squall_1 {
  background-image: url("assets/Squall_1.jpg");
}
.Squall_2 {
  background-image: url("assets/Squall_2.jpg");
}
.Squall_3 {
  background-image: url("assets/Squall_3.jpg");
}
.Squall_4 {
  background-image: url("assets/Squall_4.jpg");
}
.Squall_5 {
  background-image: url("assets/Squall_5.jpg");
}

.Thunderstorm_1 {
  background-image: url("assets/Thunderstorm_1.jpg");
}
.Thunderstorm_2 {
  background-image: url("assets/Thunderstorm_2.jpg");
}
.Thunderstorm_3 {
  background-image: url("assets/Thunderstorm_3.jpg");
}
.Thunderstorm_4 {
  background-image: url("assets/Thunderstorm_4.jpg");
}
.Thunderstorm_5 {
  background-image: url("assets/Thunderstorm_5.jpg");
}

.Tornado_1 {
  background-image: url("assets/Tornado_1.jpg");
}
.Tornado_2 {
  background-image: url("assets/Tornado_2.jpg");
}
.Tornado_3 {
  background-image: url("assets/Tornado_3.jpg");
}
.Tornado_4 {
  background-image: url("assets/Tornado_4.jpg");
}
.Tornado_5 {
  background-image: url("assets/Tornado_5.jpg");
}

main {
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3)
  );
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  transition: 1s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.location-box .location {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.location-box .date {
  padding-top: 15px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #ffffff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.weather-box .weather {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
